# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and Tooling
node_modules
.pnpm-store
.quasar
dist
dist-ssr
dist-pwa
dist-cordova
dist-capacitor
dist-electron
dist-bex
.next
.cache
.temp

# Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/test/jest/coverage
/test/cypress/screenshots
/test/cypress/videos

# OS Files
Thumbs.db
desktop.ini

